@using Stekeblad.MoreCmsReports.DataModels;

@model InaccessibleContentLocatorData

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Inaccessible Content Report</title>
</head>
<body>
    <h1>Inaccessible Content</h1>

    @foreach (TypeUsageCount thing in Model.TypesOverview)
    {
        <p>@thing.TypeName</p>
    }
</body>
</html>