<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MoreCmsReports Access Rights Analyser</title>
</head>
<body>
    <h1>Just a Quick view to test that it works</h1>
</body>
</html>