body {
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    border: 2px solid #dddddd;
    list-style: none;
    padding-left: 0px;
}


    ul li {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 40px
    }

        ul li a {
            width: 100%;
            display: inline-block;
        }

        ul li:nth-child(even) {
            background-color: #dddddd;
        }

h3 {
    margin-top: 25px;
}

h2 {
    margin-top: 35px;
}
