<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="true" viewEngine="Razor" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Stekeblad.MoreCmsReports" />
  </assemblies>
  <routes>
    <route>
      <defaults>
        <add key="controller" value="MoreCmsReportsPlugin" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
</module>
